<p id="notice"><%= notice %></p>

<h1>Listing Inventories</h1>

<table>
  <thead>
    <tr>
      <th>Inventory</th>
      <th>Name</th>
      <th>Description</th>
      <th>Quantity original</th>
      <th>Quantity remaining</th>
      <th>Supplier</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.inventory_id %></td>
        <td><%= inventory.name %></td>
        <td><%= inventory.description %></td>
        <td><%= inventory.quantity_original %></td>
        <td><%= inventory.quantity_remaining %></td>
        <td><%= inventory.supplier_id %></td>
        <td><%= inventory.date %></td>
        <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %>
